
{% extends '../../base2.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Add Payment{% endblock title %}


{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-form">Payment Form</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="card-text">
                                <p></p>
                            </div>

                            <form class="form" method="post" novalidate>
                              {% csrf_token %}

                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Date</label>
                                          {% render_field form.date class="form-control" placeholder="Date Created" required="required" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Invoice</label>
                                          {% render_field form.invoice class="form-control" placeholder="Invoice number" required="required" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Customer</label>
                                          <input type="text" id="id_cusomer" class="form-control customer" placeholder="Customer" readonly="readonly" required="required"/>
                                          {% comment %} {% render_field form.customer class="form-control" placeholder="Customer" required="required" %} {% endcomment %}

                                      </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Session</label>
                                          {% render_field form.payment_session class="form-control" placeholder="Date Created" required="required"%}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Installment</label>
                                          {% render_field form.payment_installment class="form-control" placeholder="Date Created" required="required"%}
                                      </div>
                                  </div>

                              </div>

                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="projectinput1">Employee</label>
                                          {% render_field form.employee class="form-control" placeholder="Collector" required="required"%}
                                      </div>
                                  </div>

                              </div>

                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="projectinput1">Amount Paid</label>
                                          {% render_field form.amount_paid class="form-control" placeholder="Amount" required="required" %}
                                      </div>
                                  </div>

                              </div>

                              {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.label }}: {{ error }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                  <div class="form-actions">
                                    <a href="{% url 'bakery:invoice-payments' %}">
                                      <button type="button" class="btn btn-warning mr-1">
                                          <i class="ft-x"></i> Cancel
                                      </button>
                                    </a>
                                      <button type="submit" class="btn btn-primary">
                                          <i class="la la-check-square-o"></i> Save
                                      </button>
                                  </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>

 






    </section>
    <!-- // Basic form layout section end -->
</div>

{% endblock content %}

{% block custom_js %}
    <!-- END: Footer-->

{% load static %}
<link rel="stylesheet" href="{% static '' %}app-assets/custom/selectize.bootstrap3.css">
<script src="{% static '' %}app-assets/custom/jquery-3.6.0.min.js"></script>
<script src="{% static 'app-assets/custom/jquery.validate.min.js' %}"></script>
<script src="{% static 'app-assets/custom/selectize.min.js' %}"></script>
<script>
   $(document).ready(function() {
    $('#id_invoice').selectize({
        create: false,
        sortField: {
            field: 'text',
            direction: 'asc'
        }
    });
});
 

function fetchProductPriceByName(productId, priceField) {
    console.log("in get name");
    $.ajax({
        url: '{% url 'bakery:get_customer_name' %}',
        data: {
            'product_id': productId
        },
        dataType: 'json',
        success: function(data) {
            if (data && data.price && data.id) {
                priceField.val(data.price);
                priceField.attr('placeholder', data.id);
                //console.log(data.price);
                //console.log("get success");
                //calcTotal(); // Make sure calcTotal() is defined elsewhere
            }
        }
    });
}

// Event listener for product change
$(document).on('change', 'select[name="invoice"]', function() {
    var productId = $(this).val();
    //console.log(productId);
    var priceField = $('.customer');
    fetchProductPriceByName(productId, priceField);
});

</script>


{% endblock %}
