{% extends 'base2.html' %}
{% block title %} Production List {% endblock title %}


{% block content %}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-detached content-center">
            <div class="content-body">
                <div class="content-overlay"></div>
                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="bug-list-search">
                                    <div class="bug-list-search-content">
                                        <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                                        <form action="#">
                                            <div class="position-relative">
                                                <input type="search" id="search-contacts" class="form-control" placeholder="Search contacts...">
                                                <div class="form-control-position">
                                                    <i class="la la-search text-size-base text-muted la-rotate-270"></i>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row all-contacts">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title">All production</h4>
                                    <div class="heading-elements mt-0">
                                      <a href="{% url 'boulangerie:create-production' %}">
                                          <button  class="btn btn-primary btn-md " data-toggle="modal" data-target=""><i class="d-md-none d-block ft-plus white"></i>
                                              <span class="d-md-block d-none"><i class="la la-plus"></i> Add Production </span>
                                          </button>
                                      </a>


                                        <!-- Edit Contact -->
                                        <div class="modal fade" id="EditContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <span class="dropdown">
                                            <button id="btnSearchDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i class="ft-download-cloud white"></i></button>
                                            <span aria-labelledby="btnSearchDrop1" class="dropdown-menu mt-1 dropdown-menu-right">
                                                <a href="#" class="dropdown-item"><i class="ft-upload"></i> Import</a>
                                                <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
                                                <a href="#" class="dropdown-item"><i class="ft-shuffle"></i> Find Duplicate</a>
                                            </span>
                                        </span>
                                        <button class="btn btn-default btn-sm"><i class="ft-settings white"></i></button>
                                    </div>
                                </div>
                            </div>

                            <section id="payments-details">
                              <div class="row">
                                  <div class="col-12">
                                      <div class="card">
                                          <div class="card-header">
                                              <h4 class="card-title float-left">
                                              </h4>

                                              <form method="GET" action="">
                                                <div class="form-row \">
                                                    <div class="form-group col-md-3 col-lg-3" data-provide="datepicker">
                                                      <label for="inputPassword4">Start Date</label>
                                                      <input type="date" class="form-control" id="#publishDateMin" name="start_date">
                                                    </div>
                                                    <div class="form-group col-md-3 col-lg-3" data-provide="datepicker">
                                                      <label for="inputPassword4">End Date</label>
                                                      <input type="date" class="form-control" id="#publishDateMax" name="end_date">
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                                            </form>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            </section>


                            <div class="card-content">
                                <div class="card-body">
                                    <!-- Task List table -->
                                
                                      <button type="button" class="btn btn-md btn-success delete-all mb-1"><i class="la la-money"></i> Suppliers Payments</button>
                                    </a>
                                    <a href="{% url 'boulangerie:supplier' %}">
                                      <button type="button" class="btn btn-md btn-info delete-all mb-1"><i class="la la-user"></i> Suppliers</button>
                                    </a>
                                    <div class="table-responsive">
                                        <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Department</th>
                                                    <th>Production Id</th>
                                                    <th>Sub Department</th>
                                                    <th>Session</th>
                                                    <th>Supervisior</th>
                                                    <th>Stock Supervisor</th>

                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for production in object_list %}
                                                <tr>
                                                  <!--  <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="checkboxsmall1">
                                                            <label class="custom-control-label" for="checkboxsmall1"></label>
                                                        </div>
                                                    </td> -->
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{production.created_at}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a href="{{customer.get_absolute_url}}" class="media-heading name">{{production.department}}</a>
                                                            </div>
                                                    </td>

                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a href="" class="media-heading name">{{production.production_id}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{production.sub_department}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{production.session}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{production.supervisor}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{production.stock_supervisor}}</a>
                                                            </div>
                                                    </td>


                                                   


                                                    

                                                    <!--
                                                    <td>
                                                            <div class="media-body media-middle">
                                                              {% if invoice.amount_paid == invoice.net_amount %}
                                                                <a class="media-heading name success font-weight-bold">Full Paid</a>
                                                              {% elif invoice.amount_paid < invoice.net_amount %}
                                                                  <a class="media-heading name danger font-weight-bold">Partially Paid</a>
                                                              {% else %}
                                                                  <a class="media-heading name info font-weight-bold">Over Paid</a>
                                                              {% endif %}
                                                            </div>
                                                    </td>

                                                    <td>

                                                            <div class="media-body media-middle">
                                                              {% if invoice.get_total_amount_paid >= invoice.get_grand_total %}
                                                                  <a class="media-heading name font-weight-bold danger">Cleared</a>

                                                              {% elif invoice.get_total_amount_paid < invoice.get_grand_total %}
                                                                  {% if invoice.is_past_due %}
                                                                      <a class="media-heading name font-weight-bold danger">OverDue</a>
                                                                    {% else %}
                                                                      <a class="media-heading name font-weight-bold">{{invoice.due_date|timeuntil:invoice.created}} to Due</a>
                                                                  {% endif %}
                                                              {% endif %}
                                                            </div>
                                                    </td>
                                                  -->

                                                    <td>
                                                        <a href="" data-toggle="" data-target="" class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                                        <a class="danger delete mr-1"><i class="la la-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Department</th>
                                                    <th>Production Id</th>
                                                    <th>Sub Department</th>
                                                    <th>Session</th>
                                                    <th>Supervisior</th>
                                                    <th>Stock Supervisor</th>

                                                    <th>Actions</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
<!-- END: Content-->
<!-- END: Content-->

{% endblock content %}
