
{% extends "base2.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Add Payment{% endblock title %}


{% block content %}

<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="row match-height">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="basic-layout-form">Payment Form</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="card-text">
                                <p></p>
                            </div>

                            <form class="form" method="post" novalidate>
                              {% csrf_token %}

                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Date</label>
                                          {% render_field form.date class="form-control" placeholder="Date Created" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Invoice</label>
                                          <input type="text"  class="form-control" placeholder="{{ invoice_id }}" readonly="readonly" value="{{ invoice_id }}">
                                          {% render_field form.invoice_id class="form-control" placeholder="invoice_id" %}

                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Customer</label>
                                          <input type="text"  class="form-control" placeholder="{{ form.customer_name }}" readonly="readonly" value="{{ form.customer_name }}">
                                          {% render_field form.customer_name class="form-control" placeholder="customer_name" %}
                                      </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Session</label>
                                          {% render_field form.payment_session class="form-control" placeholder="Date Created" %}
                                      </div>
                                  </div>

                                  <div class="col-md-3">
                                      <div class="form-group">
                                          <label for="projectinput1">Installment</label>
                                          {% render_field form.payment_installment class="form-control" placeholder="Date Created" %}
                                      </div>
                                  </div>

                              </div>

                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="projectinput1">Employee</label>
                                          {% render_field form.employee class="form-control" placeholder="Collector" %}
                                      </div>
                                  </div>

                              </div>

                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label for="projectinput1">Amount Paid</label>
                                          {% render_field form.amount_paid class="form-control" placeholder="Amount" %}
                                      </div>
                                  </div>

                              </div>


                                  <div class="form-actions">
                                    <a href="/{% url 'wholesale:invoice-payments' %}">
                                      <button type="button" class="btn btn-warning mr-1">
                                          <i class="ft-x"></i> Cancel
                                      </button>
                                    </a>
                                      <button type="submit" class="btn btn-primary">
                                          <i class="la la-check-square-o"></i> Save
                                      </button>
                                  </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>








    </section>
    <!-- // Basic form layout section end -->
</div>

{% endblock content %}
