{% extends '../../base2.html' %}
{% block title %} Customers Invoices {% endblock title %}


{% block content %}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-detached content-center">
            <div class="content-body">
                <div class="content-overlay"></div>
                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="bug-list-search">
                                    <div class="bug-list-search-content">
                                        <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                                        <form action="#">
                                            <div class="position-relative">
                                                <input type="search" id="search-contacts" class="form-control" placeholder="Search contacts...">
                                                <div class="form-control-position">
                                                    <i class="la la-search text-size-base text-muted la-rotate-270"></i>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row all-contacts">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title">All Invoices</h4>
                                    <div class="heading-elements mt-0">
                                      <a href="{% url 'wholesale:create-invoice' %}">
                                          <button  class="btn btn-primary btn-md " data-toggle="modal" data-target=""><i class="d-md-none d-block ft-plus white"></i>
                                              <span class="d-md-block d-none"><i class="la la-clipboard"></i>Add Invoice </span>
                                          </button>
                                      </a>
                                        

                                        <!-- Edit Contact -->
                                        <div class="modal fade" id="EditContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <span class="dropdown">
                                            <button id="btnSearchDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i class="ft-download-cloud white"></i></button>
                                            <span aria-labelledby="btnSearchDrop1" class="dropdown-menu mt-1 dropdown-menu-right">
                                                <a href="#" class="dropdown-item"><i class="ft-upload"></i> Import</a>
                                                <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
                                                <a href="#" class="dropdown-item"><i class="ft-shuffle"></i> Find Duplicate</a>
                                            </span>
                                        </span>
                                        <button class="btn btn-default btn-sm"><i class="ft-settings white"></i></button>
                                    </div>
                                </div>
                            </div>

                            <section id="payments-details">
                              <div class="row">
                                  <div class="col-12">
                                      <div class="card">
                                          <div class="card-header">
                                              <h4 class="card-title float-left">
                                              </h4>

                                              <form method="GET" action="">
                                                <div class="form-row \">
                                                    <div class="form-group col-md-3 col-lg-3" data-provide="datepicker">
                                                      <label for="inputPassword4">Start Date</label>
                                                      <input type="date" class="form-control" id="#publishDateMin" name="start_date">
                                                    </div>
                                                    <div class="form-group col-md-3 col-lg-3" data-provide="datepicker">
                                                      <label for="inputPassword4">End Date</label>
                                                      <input type="date" class="form-control" id="#publishDateMax" name="end_date">
                                                    </div>
                                                </div>


                                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                                            </form>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                            </section>


                            <div class="card-content">
                                <div class="card-body">
                                    <!-- Task List table -->
                                    <a href="{% url 'wholesale:invoice-payments' %}">
                                      <button type="button" class="btn btn-md btn-success delete-all mb-1"><i class="la la-money"></i> Invoices Payments</button>
                                    </a>
                                    <a href="{% url 'wholesale:customer' %}">
                                      <button type="button" class="btn btn-md btn-info delete-all mb-1"><i class="la la-user"></i> Customers</button>
                                    </a>
                                    <div class="table-responsive">
                                        <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                            <thead>
                                                <tr>
                                                    <th>Date Created</th>
                                                    <th>Customer</th>
                                                    <th>Invoice Id</th>
                                                    <th>Type</th>
                                                    <th>Total Amount</th>
                                                    <th>Discount Amount</th>
                                                    <th>Total Paid</th>
                                                    {% comment %} <th>Amt Paid</th> {% endcomment %}
                                                    <th>Due Date</th>
                                                    <th>Status</th>

                                                    <th>Actions</th> 
                                                </tr>
                                            </thead>
                                            <tbody>

                                              {% for invoice in invoices %}
                                                <tr>
                                                  <!--  <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="checkboxsmall1">
                                                            <label class="custom-control-label" for="checkboxsmall1"></label>
                                                        </div>
                                                    </td> -->
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{invoice.created}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                {% if invoice.customer and invoice.customer.slug %}
                                                                <a href="{% url 'wholesale:customer-detail' invoice.customer.slug %}" class="media-heading name">{{ invoice.customer }}</a>
                                                            {% else %}
                                                                <span class="media-heading name">{{ invoice.customer }}</span>
                                                            {% endif %}                                                            </div>
                                                    </td>

                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a href="{% url 'wholesale:view_invoice_detail' invoice.id %}" class="media-heading name">{{invoice.invoice_id}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                        <div class="media-body media-middle">
                                                            <a  class="media-heading name">{{invoice.status}}</a>
                                                        </div>
                                                </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{invoice.invoice_total|floatformat:0.0}} cfa</a>
                                                            </div>
                                                    </td>
                                                   
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{invoice.discount|floatformat:0}} cfa</a>
                                                            </div>
                                                    </td>

                                                     <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{invoice.total_amount_paid|floatformat:0}} cfa</a>
                                                            </div>
                                                    </td> 

                                                    <td>

                                                      <div class="media-body media-middle">
                                                        {% if invoice.total_amount_paid == 0 %}
                                                          <a class="media-heading name danger font-weight-bold">{{invoice.due_date}}</a>
                                                        {% elif invoice.total_amount_paid < invoice.get_grand_total %}
                                                            <a class="media-heading name danger font-weight-bold">{{invoice.due_date}}</a>
                                                        {% elif invoice.total_amount_paid == invoice.get_grand_total %}
                                                            <a class="media-heading name success font-weight-bold">Paid</a>
                                                        {% else %}
                                                            <a class="media-heading name info font-weight-bold">Paid</a>
                                                        {% endif %}
                                                      </div>
                                                    </td>


                                                    <td>
                                                      <div class="media-body media-middle">
                                                        {% if invoice.total_amount_paid == 0 %}
                                                          <a href="{% url 'wholesale:add-payment' %}" class="media-heading name danger font-weight-bold">No Payment</a>
                                                        {% elif invoice.total_amount_paid < invoice.get_grand_total %}
                                                            <a href="{% url 'wholesale:add-payment' %}" class="media-heading name danger font-weight-bold">Partially Paid</a>
                                                        {% elif invoice.total_amount_paid == invoice.get_grand_total %}
                                                            <a class="media-heading name success font-weight-bold">Fully Paid</a>
                                                        {% else %}
                                                            <a class="media-heading name info font-weight-bold">Over Paid</a>
                                                        {% endif %}
                                                      </div>
                                                    </td>


                                                     <td>
                                                        <a href="{% url 'wholesale:edit_invoice' invoice.pk %}" class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                                        <a class="danger delete mr-1"><i class="la la-trash-o"></i></a>
                                                    </td> 
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                  <th>Date Created</th>
                                                  <th>Customer</th>
                                                  <th>Invoice Id</th>
                                                  <th>Type</th>
                                                  <th>Total Amount</th>
                                                  <th>Discount Amount</th>
                                                  <th>Total Paid</th>
                                                  {% comment %} <th>Amt Paid</th> {% endcomment %}
                                                  <th>Due Date</th>
                                                  <th>Status</th>

                                                  <th>Actions</th> 
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
<!-- END: Content-->

{% endblock content %}
