<tr class="raw">
    <td class="p-1 col-md-3">
        <label class="form-label" for="production_detail_product">Raw Material</label>
        {{ form.raw_material }}
    </td>
    <td class="p-1 col-md-3">
     <label class="form-label" for="production_detail_product">Qty</label>
     {{ form.qty }}
    </td>
     <td class="p-1 col-md-3">
         <label class="form-label" for="production_detail_product">Unit Cost Price</label>
         {{ form.unit_cost_price }}
     </td>
     <td class="p-1 col-md-2">
        <span class="form-label" for="ptotal">Total</span>
        <input type="text" name="ptotal" class="form-control ptotal" value=0.00 id="ptotal" readonly>
    </td>
     <td  class="p-1 col-md-2 delete-row">
         <label class="form-label py-1" for="invoice_price">
             <a class="danger  mr-1"><i class="la la-trash-o"></i></a>
         </label>
     </td>
     
</tr>