{% extends 'base2.html' %}
{% block title %} Suppliers Payments {% endblock title %}


{% block content %}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-detached content-center">
            <div class="content-body">
                <div class="content-overlay"></div>
                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="bug-list-search">
                                    <div class="bug-list-search-content">
                                        <div class="sidebar-toggle d-block d-lg-none"><i class="ft-menu font-large-1"></i></div>
                                        <form action="#">
                                            <div class="position-relative">
                                                <input type="search" id="search-contacts" class="form-control" placeholder="Search contacts...">
                                                <div class="form-control-position">
                                                    <i class="la la-search text-size-base text-muted la-rotate-270"></i>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row all-contacts">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title">All Contacts</h4>
                                    <div class="heading-elements mt-0">
                                      <a href="{% url 'wholesale:add-purchase-payments' %}">
                                          <button  class="btn btn-primary btn-md " data-toggle="modal" data-target=""><i class="d-md-none d-block ft-plus white"></i>
                                              <span class="d-md-block d-none"><i class="la la-money"></i><i class="la la-plus"></i> Supplier Payment </span>
                                          </button>
                                      </a>

                                        <!-- Edit Contact -->
                                        <div class="modal fade" id="EditContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <span class="dropdown">
                                            <button id="btnSearchDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i class="ft-download-cloud white"></i></button>
                                            <span aria-labelledby="btnSearchDrop1" class="dropdown-menu mt-1 dropdown-menu-right">
                                                <a href="#" class="dropdown-item"><i class="ft-upload"></i> Import</a>
                                                <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
                                                <a href="#" class="dropdown-item"><i class="ft-shuffle"></i> Find Duplicate</a>
                                            </span>
                                        </span>
                                        <button class="btn btn-default btn-sm"><i class="ft-settings white"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- Task List table -->
                                    <a href="{% url 'wholesale:purchases' %}">
                                      <button type="button" class="btn btn-md btn-success delete-all mb-1"><i class="la la-cart-arrow-down"></i> Purchases</button>
                                    </a>
                                    <a href="{% url 'wholesale:supplier' %}">
                                      <button type="button" class="btn btn-md btn-info delete-all mb-1"><i class="la la-user"></i> Suppliers</button>
                                    </a>
                                    <div class="table-responsive">
                                        <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                            <thead>
                                                <tr>
                                                    <th>Date Created</th>
                                                    <th>Supplier</th>
                                                    <th>Invoice Id</th>
                                                    <th>Invoice Amount</th>
                                                    <th>Installment</th>
                                                    <th>Employee</th>
                                                    <th>Amount</th>
                                                    <th>Payment Id</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                              {% for invoice_payment in purchase_invoice_payment %}
                                                <tr>
                                                  <!--  <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="checkboxsmall1">
                                                            <label class="custom-control-label" for="checkboxsmall1"></label>
                                                        </div>
                                                    </td> -->
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{invoice_payment.date}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a href="" class="media-heading name">{{invoice_payment.invoice.supplier}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a href="" class="media-heading name">{{invoice_payment.invoice.invoice_id}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a href="" class="media-heading name">{{invoice_payment.invoice.total_amount}}</a>
                                                            </div>
                                                    </td>

                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a href="" class="media-heading name">{{invoice_payment.payment_installment}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a href="" class="media-heading name">{{invoice_payment.employee}}</a>
                                                            </div>
                                                    </td>

                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{invoice_payment.amount_paid}}</a>
                                                            </div>
                                                    </td>
                                                    <td>
                                                            <div class="media-body media-middle">
                                                                <a class="media-heading name">{{invoice_payment.payment_id}}</a>
                                                            </div>
                                                    </td>

                                                    <td>
                                                        <a href="{% url 'wholesale:edit-purchase-payment' invoice_payment.id %}" data-toggle="" data-target="" class="primary edit mr-1"><i class="la la-pencil"></i></a>
                                                        <a class="danger delete mr-1"><i class="la la-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                  <th>Date Created</th>
                                                  <th>Customer</th>
                                                  <th>Invoice Id</th>
                                                  <th>Invoice Amount</th>
                                                  <th>Installment</th>
                                                  <th>Employee</th>
                                                  <th>Amount</th>
                                                  <th>Payment Id</th>
                                                  <th>Actions</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>

<!-- END: Content-->

{% endblock content %}
