
{% load widget_tweaks %}
<tr>
                                
    <td  class="p-1">
        <label class="form-label" for="invoice_detail_product">Raw Material</label>
        {% render_field form.raw_material class="form-control" placeholder="Select Raw Material" required="required" %}
    </td>
    <td  class="p-1">
        <label class="form-label" for="invoice_detail_qty">Quantity</label>
        {% render_field form.quantity_per_recipe class="form-control" style="width:70%" placeholder="Enter Quantity" %}
    </td>
    <td  class="p-1">
        <label class="form-label" for="invoice_detail_price">Measure</label>
        {% render_field form.measure class="form-control" placeholder="Select Measure" %}
    </td>
    
    <td  class="py-2 m-0 delete-row">
        <label class="form-label py-1" for="invoice_price">
            <a class="danger  mr-1"><i class="la la-trash-o"></i></a>
        </label>
    </td>
    
</tr>